<section class="section_movements_list mat-elevation-z8">
  <div class="content_list">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name_fund">
        <th mat-header-cell *matHeaderCellDef class="title_table">
          Name of Fund
        </th>
        <td mat-cell *matCellDef="let element" class="content_table">
          {{ element.name_fund }}
        </td>
      </ng-container>

      <ng-container matColumnDef="amount_fund">
        <th mat-header-cell *matHeaderCellDef class="title_table_amount">
          Amout of Fund
        </th>
        <td mat-cell *matCellDef="let element" class="content_table_amout">
          {{ element.deposit }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</section>
